<div class='hero-headline'>
  <h1>Random Celebrity Movie Database</h1>
  <h2>Welcome to this weird Celebrity / Movie Database. Because everrrrybody
    loves celebrities, right? RIGHT?</h2>
</div>

<div class='buttons-start'>

  <div class='add'>
    <a href='/celebrities'>Celebrities</a>
  </div>

  <div class='add'>
    <a href='/movies'>Movies</a>
  </div>
</div>